#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color:#190C17;
  border: 2px solid red;
  min-height: 100vh;
}
.NavBar{
  color: white;
  padding-left: 10px;
  margin: 0;
  width: auto;
  background-color: rgba(25, 12, 23, 0.75);
  height: 50px;
  border: 2px solid red;
  display: flex;
  justify-content: start;
  align-items: center;
}
.NavBar > h4{
  margin: 0;
  font-style: normal;
}