
.headerMovie{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100vw;
  margin-bottom: 20px;

}
.titleMovie{
  color:white;
  background-color: rgba(25, 12, 23, 0.75);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  height: 50px;
  /* position: relative; 
  z-index: 2;  */
}
.NavBar{
  color: white;
  width: 100%;
  height: 650px;
  /* position: absolute; */
  z-index: -1;
  margin: 0;
  /* border: 2px solid red; */
}
.NavBar > h4{
  margin: 0;
  font-style: normal;
}
